* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    text-align: center;
}

#container {
    padding:1vw;
    width: 100vw;
    height: 100vh;
}

img {
    width: 10vw;
    height: auto;
}

#temperatura {
    font-size: 4em;
}

.italic {
    font-style: italic;
}

#actualizacion, #hora{
    font-size: 0.5em;
}
